.navigationbar {
    position: fixed;
    width: 100%;
    height: 69px;
    right: 0%;
    background: #FDF974;
    z-index: 99;
}
.titleclass {
    position: absolute;
    width: 200px;
    top: 26px;
    padding-left: 10px;
    transition-duration: 0.1s;
}
.titleclass:hover {
    transform: scale(1.1);
}
body {
    background: #2F1E25;
    margin: 0;
}
div.aboutmeflex {
    display: flex;
    position: relative;
    height: 75vh;
    justify-content: center;
    align-items: center;
    top: 100px;
}
div.aboutmepage {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
    box-shadow: 0px 2px 4px #220C06 ;
    background-color: #422F42;
    font-family: 'Alata', sans-serif;
    color: #27191f;
    overflow: hidden;
}
.about-title {
    font-size: 50px;
    text-align: center;
    padding: 30px 20px 20px 20px;
    margin: 0;
    flex-shrink: 0;
}

.about-content {
    flex: 1;
    padding: 0 30px 30px 30px; 
    font-size: 26px;
    line-height: 1.6;
    overflow-y: auto; 
    color: #FBFFE8;
    }
div.aboutmepage.expandable {
    height: auto;
    min-height: 400px;
}
.textBox{
  background-color: blue;
  color: white;
  font-size: clamp(1rem, 10vmin, 6rem);
  padding: 2rem;

  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
}
.navigationlinks {
    position: relative;
    font-family: 'ABeeZee';font-size: 18px;
    color: #220C06;
    padding-left: 15px;
    padding-right: 15px;
    top: 26px;
    float: left;
    transition: color 0.1s;
}



.navigationlinks:hover {
    color: #793c2c;
    text-decoration: underline;
}

.linksflex {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 1250px;
    padding-bottom: 50px;
    padding-top: 119px;
}
.bigbox {
    display: flex;
    position: relative;
    width: 75%;
    height: 100%;
    background-color:#422F42;
}
.smallerbigbox {
    display: flex;
    position: relative;
    height: 90%;
    top: 5%;
    width: 100%;
    z-index: 2;
    background-color: #27191f;
}
.rows {
    display: flex;
    position: relative;
    height: 100px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 20px;
    justify-content: center;

}
.infowidget {
    display: flex;
    position: relative;
    background-color: #422F42;
    height: 100%;
    width: 40%;
    float: right;
    color: #FBFFE8;
}
.stupiddivider {
    display: flex;
    height: 100%;
    width: 5%;
}
.widgetlink {
    padding-left: 10px;
}
.fuckassbutton {
    display: flex;
    background-color: aqua;
    position: absolute;
    bottom: 5%;
    right: 12.5%;
    height: 20px;
    width: 75%;

} 
.linkdiv {
    display: flex;
    height: 100%;
    width: 100%;
}
/* add random title to titleclass