.navigationbar {
    position: fixed;
    width: 100%;
    height: 69px;
    right: 0%;
    background: linear-gradient(to bottom right, #FDF974, #f5e4bb);
    z-index: 99;
}
.titleclass {
    position: absolute;
    width: 200px;
    top: 16px;
    padding-left: 10;
}
body {
    background: #2F1E25;
    margin: 0;
}
div.aboutmeflex {
    display: flex;
    position: relative;
    height: 50vh;
    justify-content: center;
    align-items: center;
    top: 100px;
}
div.aboutmepage {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: #422F42;
    border-radius: 20px;
    font-family: 'Alata', sans-serif;
    color: #27191f;
    overflow: hidden;
}
.about-title {
    font-size: 50px;
    text-align: center;
    padding: 30px 20px 20px 20px;
    margin: 0;
    flex-shrink: 0;
}

.about-content {
    flex: 1;
    padding: 0 30px 30px 30px; 
    font-size: 26px;
    line-height: 1.6;
    overflow-y: auto; 
    color: #FBFFE8;
    }
div.aboutmepage.expandable {
    height: auto;
    min-height: 400px;
}
.textBox{
  background-color: blue;
  color: white;
  font-size: clamp(1rem, 10vmin, 6rem);
  padding: 2rem;

  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
}
.navigationlinks {
    position: relative;
    font-family: 'ABeeZee';font-size: 18px;
    color: #220C06;
    padding-left: 15px;
    padding-right: 15px;
    top: 6px;
    left: 250px;
    float: left;
    transition: color 0.1s;
}



.navigationlinks:hover {
    color: #793c2c;
    text-decoration: underline;
}

/* add random title to titleclass